body {
  margin: auto;
  background-color: #000;
  font-family: sans-serif;
}

article {
   /* background-color, */
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin: auto;
  padding: 0;
  background-color: #fff;
  width: 80%;
}

header h1 {
font-size: 3em;
  color:#8667b5;
  padding: 1em;
  text-align: center;
}

/* Main navigation styles. */
.main-nav {
  background-color:#8468b3;
  margin: 0;
  width: 100%;
  }

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li  {
  float: left;
  width: 14.2857%;
  text-align: center;
}

.main-nav ul li a {
  font-size: 1.5em;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: .50em;
  border-right: solid 4px #6b4f9a;
}

.main-nav ul li a:hover {
  color: #000;
}

.main-nav ul li:last-child a {
  border-right: none;
}

/* Main content styles. */
.main-content {
  display: flex;
}

.main-content aside {
  width: 20%;
  background-color: #c0b2d5;
  vertical-align: middle;
}

.main-content aside ul {
  list-style-type: none;
  background-color: #c0b2d5;
  padding: 5em 1em 1em 1em;
}

.main-content aside ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
}

figure {
  margin: auto;
  padding: 1em;
}

.main-content section {
  background-color: #cccccc;
  padding: 2em;
  width: 80%;
  text-align: center;
}

/* Footer styles. */
footer {
  margin: auto;
  padding: 2em;
  text-align: center;
}

footer img {
width:30px;
height: 30px;
padding: 0 1em 0 1em;}

/* Float clearing. */
.group:after {
  content: "";
  display: table;
  clear: both;
}